name: esfotalk_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_svg: ^2.2.1
  flutter_riverpod: ^2.4.0
  fpdart: ^1.1.1
  appwrite: ^19.1.0
  image_picker: ^1.2.0
  carousel_slider: ^5.0.0  # ⬅️ CAMBIO AQUÍ: de 4.2.1 a 5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/svgs/